<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas de Actividades</title>
    <link rel="stylesheet" href="../css/estadisticas.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Estadísticas de Actividades Registradas</h1>
        </header>
        
        <main>
            <div class="stats-image">
                <img src="../images/estadisticas.png" alt="Gráfica de estadísticas">
            </div>
            
            <div class="navigation">
                <a href="/html/portada.html" class="home-button">Volver a la portada</a>
            </div>
        </main>
        
        
    </div>
</body>
</html>