<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/ver-actividades.js" defer></script>
    <title>Últimas Actividades Registradas</title>
    <link rel="stylesheet" href="../css/ver-actividades.css">
</head>
<body>
    <h1>Lista de Actividades</h1>
    <button class="home-button" onclick="window.location.href='/html/portada.html'">
        Volver a la portada
    </button>
    <table>
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Término</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Tema</th>
                <th>Nombre</th>
                <th>Fotos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2025-03-28 02:00</td>
                <td>-</td>
                <td>Santiago</td>
                <td>Plaza Concha y Toro</td>
                <td>Club de la pelea</td>
                <td>Brad Norton</td>
                <td>
                    <img src="../images/pelea.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                </td>
            </tr>
            <tr>
                <td>2025-03-27 17:00</td>
                <td>2025-03-27 20:00</td>
                <td>Santiago</td>
                <td>Beauchef 850, Sala F10</td>
                <td>Club de Cine</td>
                <td>Martin Fuenzalida</td>
                <td>
                    <img src="../images/cine.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                    <img src="../images/cine2.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                </td>
            </tr>
            <tr>
                <td>2025-04-05 09:00</td>
                <td>-</td>
                <td>Providencia</td>
                <td>Parque Bustamante</td>
                <td>Bicicletada</td>
                <td>Felipe Ruminot</td>
                <td>
                    <img src="../images/bicicleta.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                    <img src="../images/bicicleta2.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                    <img src="../images/bicicleta3.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                </td>
            </tr>
            <tr>
                <td>2025-04-12 16:00</td>
                <td>2025-04-12 20:00</td>
                <td>Ñuñoa</td>
                <td>Afueras del Estadio Nacional</td>
                <td>Batalla de rap</td>
                <td>Juan Sativo</td>
                <td>
                    <img src="../images/batallarap.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                    <img src="../images/batallarap2.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                    <img src="../images/batallarap3.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                    <img src="../images/batallarap4.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                </td>
            </tr>
            <tr>
                <td>2025-04-19 16:00</td>
                <td>2025-04-19 20:00</td>
                <td>Santiago</td>
                <td>Beauchef 850, Sala S21</td>
                <td>Orquesta Universitaria</td>
                <td>María Música</td>
                <td>
                    <img src="../images/orquesta.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                    <img src="../images/orquesta2.jfif" alt="Foto de actividad" width="320" height="240" class="activity-image">
                </td>
            </tr>
        </tbody>
    </table>
   
</body>
</html>
