<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/ver-actividades.js') }}" defer></script>
    <title>Últimas Actividades Registradas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ver-actividades.css') }}">
</head>
<body>
    <h1>Lista de Actividades</h1>
    <button class="home-button" onclick="window.location.href='{{ url_for('portada') }}'">
        Volver a la portada
    </button>
    <table>
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Término</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Tema</th>
                <th>Nombre</th>
                <th>Fotos</th>
            </tr>
        </thead>
        <tbody>
            {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.dia_hora_inicio }}</td>
                <td>{{ actividad.dia_hora_termino if actividad.dia_hora_termino else '-' }}</td>
                <td>{{ actividad.comuna.nombre }}</td>
                <td>{{ actividad.sector }}</td>
                <td>
                    {% for tema in actividad.temas %}
                        {{ tema.tema }}{% if tema.glosa_otro %}: {{ tema.glosa_otro }}{% endif %}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ actividad.nombre }}</td>
                <td>
                    {% for foto in actividad.fotos %}
                        <img src="{{ url_for('static', filename='images/' + foto.nombre_archivo) }}" 
                             alt="Foto de actividad" width="320" height="240" class="activity-image">
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if pagination.has_prev %}
            <a href="{{ url_for('ver_actividades', page=pagination.prev_num) }}">Anterior</a>
        {% endif %}

        {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
                {% if page_num != pagination.page %}
                    <a href="{{ url_for('ver_actividades', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <strong>{{ page_num }}</strong>
                {% endif %}
            {% else %}
                <span>&hellip;</span>
            {% endif %}
        {% endfor %}

        {% if pagination.has_next %}
            <a href="{{ url_for('ver_actividades', page=pagination.next_num) }}">Siguiente</a>
        {% endif %}
    </div>
</body>
</html>